<%= render 'pokemons/navbar' %>
<h1>About</h1>
<p class="info">This website is built using the dataset from <a href="https://gist.github.com/stungeye/afbf654810fe428832591358ecf591b1">Stungeye</a>. 
There are 2 tables 1 holding the basic pokemon information and another images table that uses Poke as a foreign key to attached the corresponding images.</p>
<div class="erd">
    <h4>Entity Relationship Diagram</h4>
    <%= image_tag('erd.png') %>
</div>
